* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.625em;
}

body {
  font-size: 1.5rem;
}

/**Fuentes**/
@font-face {
  font-family: "Xanh Mono";
  src: url("XanhMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*** Cabecera ****/

#cabecera {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

/** Logo **/

#logo {
  width: 25%;
  max-width: 100px;
}

#logo img {
  width: 100%;
  display: block;
  transition: transform 0.7s ease-in-out;
}
#logo img:hover {
  transform: rotate(360deg);
}

#cabecera h1 {
  text-align: center;
  width: 100%;
  border: 2px solid green;
}

#cabecera h1>a{
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 5rem;
  font-weight: normal;
  font-family: "Bebas Neue";
  color: white;
  width: 100%;
}

#caja-logo-titulo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  background: rgb(184, 52, 3);
}

#caja-botones {
  background-color: whitesmoke;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: relative;
}

/** Buscador **/

#buscador {
  position: absolute;
  top: 8px;
  right: 70px;
  background-color: whitesmoke;
  text-align: center;
  z-index: 9999;
}

#busqueda {
  border-radius: 3px;
  height: 35px;
  margin-left: 100px;
  border: 1px solid grey;
  padding-left: 30px;
}

#buscador .fa-search {
  color: #555555;
  position: absolute;
  top: 10px;
  right: 168px;
  cursor: pointer;
}

#btn-buscador {
  color: #555555;
  font-size: 1.7rem;
  font-weight: normal;
  cursor: pointer;
  padding: 8px;
}

#btn-buscador:hover {
  background-color: #dedede;
  border-radius: 50%;
}

/**** Menú navegación ****/

/** Botón **/

#btn-nav {
  height: 20px;
  width: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 15px 0;
}

#btn-nav .linea {
  border-bottom: 3px solid #555555;
  border-radius: 10px;
  width: 100%;
  transition: 0.4s;
}

#btn-nav .linea {
  position: absolute;
  right: 0;
}

.linea:first-child {
  top: 0;
}

.linea:nth-child(2) {
  top: 50%;
}

.linea:last-child {
  top: 100%;
}

.efecto-btn .linea:first-child {
  top: 50%;
  transform: rotate(45deg);
}

.efecto-btn .linea:nth-child(2) {
  display: none;
}

.efecto-btn .linea:last-child {
  top: 50%;
  transform: rotate(-45deg);
}

.btn {
  cursor: pointer;
  user-select: none;
}

/** Menú **/

.ocultar {
  display: none;
}

#menu-nav {
  position: absolute;
  top: 100%;
  left: -5px;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 99999;
}

#menu-nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(229, 229, 229);
  border-radius: 0 0 20px 20px;
}

#menu-nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid whitesmoke;
  transition: 0.5s;
}

#menu-nav a {
  width: 100%;
  color: #535353;
  text-decoration: none;
  padding: 0 20px;
}

#menu-nav li:hover a {
  width: 100%;
  text-decoration: none;
  font-size: 1.7rem;
  transform: translateX(20px);
  transition: 0.7s;
}

#menu-nav .pag-activa {
  font-weight: bold;
  color: black;
}

#menu-nav a > i {
  padding-right: 7px;
}

/***** Contenido página inicio - listado libros *******/

#libro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(185, 185, 185);
  margin: 30px;
  font-family: Arial;
  font-size: 1.4rem;
  position: relative;
}

#libro p {
  padding: 7px;
}

.libro-titulo {
  font-family: "Bebas Neue";
  font-size: 2.2rem;
  color:rgb(76, 76, 76);
  letter-spacing: 0.02em;
}


/* Imagen libro */

#libro .img-libro {
  width: 50%;
  max-width: 250px;
}

#libro .img-libro img {
  width: 100%;
}

/* Enlace a la ficha */

.enlace-ficha {
  margin: 20px;
  display: none;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 4px;
  transition: 0.7s;
  font-family: "Bebas Neue";
}

.enlace-ficha:hover {
  background-color: rgb(184, 52, 3);
  border: none;
}

.enlace-ficha:hover a {
  color: whitesmoke;
}

#libro:hover .enlace-ficha {
  display: block;
}

.enlace-ficha a {
  color: rgb(71, 71, 71);
  font-size: 2rem;
  padding: 10px;
  text-decoration: none;
}

/** Caja texto con la informacion del libro **/

.caja-info-libro {
  background-color: white;
  padding: 0 20px;
  transition: 0.5s;
  height: 230px;
  min-width: 250px;
}


#libro:hover .caja-info-libro {
  transform: translateY(-80px);
  transition: 0.5s;
}

/* Medias del libro - nota y edad */
.caja-medias-libro{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
}

.caja-notamedia{
  width: 40%;
  margin: 0;
  padding: 0;
}

.libro-edad-media{
  border: 2px solid pink;
  width: 60%;
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  color:rgb(76, 76, 76);
}

/* Nota media libros */
.libro-notamedia {
  font-family: "Bebas Neue";
  font-weight: bold;
  color:rgb(59, 58, 58);
  font-size: 2rem;
}

/* Edad media libros */

.caja-libro-edadmedia {
  color: rgb(184, 52, 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.libro-edadmedia-texto {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.libro-edadmedia {
  color: whitesmoke;
  border-radius: 50%;
  background-color: rgb(198, 67, 19);
  padding: 7px;
}


/********* Ficha libro ************/

/** Titulo y autor **/

#contenido {
  background-image: url();
}

#contenido-fichalibro {
  padding: 30px;
  font-family: Arial;
  margin-top: 60px;
}

.ficha-titulo,
.ficha-autor {
  font-weight: normal;
  text-align: center;
  padding: 10px;
}

.ficha-titulo {
  letter-spacing: 0.1em;
  color: #525252;
  font-size: 3.5rem;
  font-family: "Bebas Neue";
}

.ficha-autor {
  text-transform: uppercase;
  letter-spacing: 0em;
  color: #8d8d8d;
  font-size: 1.6rem;
}

/** Imagen **/

#contenedor-todo {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#caja-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ficha-img {
  width: 50%;
  max-width: 300px;
  text-align: center;
}

.ficha-img img {
  width: 100%;
}

/** Información libro **/

#datos-libro dt {
  font-size: 2.7rem;
  font-family: "Bebas Neue";
  color: #464646;
  padding: 5px 0;
}

#datos-libro dd {
  color: #505050;
  font-size: 1.3rem;
}

.ficha-sinopsis {
  text-align: justify;
  padding-bottom: 20px;
  line-height: 1.7em;
}

#caja-info-fichafibro {
  max-width: 600px;
}

/** Ficha tecnica boton **/

#caja-fichatecnica {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  max-width: 850px;
}

#btn-fichatecnica {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  position: relative;
  max-width: 850px;
  font-family: "Bebas Neue";
  font-size: 2rem;
  color: #464646;
}

#contenido-fichatecnica {
  background-color: whitesmoke;
  padding: 30px;
  font-size: 1.35rem;
}

#contenido-fichatecnica dt {
  font-weight: bold;
  color: #5a5a5a;
}

#contenido-fichatecnica dd {
  padding-bottom: 10px;
}

#caja-foto-info {
  width: 100%;
  margin-top: 20px;
}

#datos-libro {
  margin: 20px;
  margin-top: 40px;
}

.elemento-fichatecnica {
  display: flex;
}

.elemento-fichatecnica dt {
  display: flex;
  width: 40%;
}

.elemento-fichatecnica dt::after {
  content: ":";
  display: block;
}

/** Valoración y opinión **/

#valoracion {
  justify-content: space-around;
  list-style: none;
  margin: 20px;
}

#btn-valorar,
#btn-opinion {
  text-decoration: none;
  font-family: Arial;
  color: #d6d6d6;
  background-color: rgb(184, 52, 3);
  padding: 8px;
  border-radius: 4px;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 10px 0;
  width: 115px;
  user-select: none;
}

.fa-star {
  color: rgb(238, 208, 57);
  padding-right: 3px;
}

.ficha-notamedia-text {
  display: flex;
  font-size: 2rem;
}

#contenedor-valoracion {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.caja-notamedia {
  margin-top: 10px;
  position: relative;
}

.caja-ficha-edadmedia {
  color: rgb(184, 52, 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-edadmedia {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.ficha-edadmedia {
  color: whitesmoke;
  border-radius: 50%;
  background-color: rgb(198, 67, 19);
  padding: 7px;
}

/** Opiniones **/

#btn-opinion:hover,
#btn-valorar:hover {
  background-color: whitesmoke;
  color: orangered;
  border: 1px solid orangered;
}

#titulo-opinion {
  margin: 20px 0;
  font-family: Arial;
}

#comentarios {
  padding: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

#opinion {
  width: 100%;
  max-width: 500px;
  height: 100px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #cbcbcb;
}

.fecha-opinion {
  margin: 10px;
}

/** estilo comentarios **/

#comentario {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 8px;
  max-width: 500px;
}

.opinion {
  font-size: 1.4rem;
  color: rgb(71, 71, 71);
  padding: 0 10px;
}

.responder {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.responder p {
  font-size: 1.2rem;
  color: rgb(71, 71, 71);
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.nombre-opinion {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(71, 71, 71);
}

.responder p::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 2px;
  left: 0;
  border-bottom: 2px rgb(59, 58, 58) solid;
  width: 3%;
  opacity: 0;
}

.responder p:hover::after {
  width: 100%;
  opacity: 1;
  transition: 0.5s;
}

/****************      Página perfil personal         ***************/

#container {
  font-family: Arial;
  color: rgb(111, 111, 111);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foto {
  width: 30%;
  max-width: 150px;
  border: 1px solid rgb(211, 211, 211);
}

.foto img {
  width: 100%;
}

.foto img {
  width: 100%;
}

#foto {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.caja-info-usuario {
  width: 50%;
}

#foto-nombre-apellido {
  border: 2px solid green;
}

#caja-info-perfil {
  display: flex;
  width: 100%;
  background-color: rgb(243, 242, 242);
  border-radius: 5px;
  padding: 20px;
  max-width: 800px;
}

#caja-info-perfil dt {
  font-weight: bold;
  color: #505050;
  padding-top: 10px;
  font-size: 1.4rem;
}

#caja-info-perfil dd {
  padding: 5px 0;
  font-size: 1.3rem;
  border-bottom: 1px solid rgb(213, 213, 213);
}

#textobusqueda {
  align-items: center;
  display: flex;
  justify-content: center;
}

#info {
  width: 50%;
}

#caja-btn-editar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-editar {
  background-color: rgb(184, 52, 3);
  color: whitesmoke;
  margin-top: 20px;
  padding: 7px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  max-width: 150px;
}

.btn-editar:hover {
  border: 1px solid rgb(184, 52, 3);
  background-color: white;
}

a#btneditar {
  color: white;
  text-decoration: none;
}
.btn-editar:hover a#btneditar {
  color: rgb(184, 52, 3);
}

/**** Pie de página ****/

#pie-pagina {
  font-size: 1.4rem;
  background-color: whitesmoke;
  color: #6c6c6c;
  font-family: Arial;
  margin-top: 30px;
}

#pie-pagina a {
  text-decoration: none;
  color: black;
}

#pie-pagina p {
  border-bottom: 1px solid #c7c7c7;
  padding: 20px;
}

#pie-pagina > p:last-child {
  background-color: rgb(184, 52, 3);
  width: 100%;
  color: #d0d0d0;
}

#pie-pagina i {
  padding: 7px;
}

#pie-pagina .copyright {
  text-align: center;
  font-family: arial;
  letter-spacing: 0.9em;
}

/***********************    CORTE - TRAMO PANTALLA     **********************/

@media (min-width: 850px) {
  /* Buscador */
  #btn-buscador {
    padding: 8px;
    margin: 6px;
  }

  /* Menú navegacion */

  #btn-nav {
    display: none;
  }

  #menu-nav {
    display: block;
    background: rgb(229, 229, 229);
    border-radius: 0;
    width: 100%;
  }

  #menu-nav ul {
    flex-direction: row;
    justify-content: right;
  }

  #menu-nav > ul > li {
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
    transition: 0.5s;
    position: relative;
  }

  #menu-nav > ul > li:hover a {
    transform: translateX(0px);
  }

  #menu-nav > ul > li > a {
    padding: 5px;
  }

  #menu-nav > ul > li > a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px rgb(59, 58, 58) solid;
    width: 3%;
    opacity: 0;
  }

  #menu-nav > ul > li > a:hover {
    color: rgb(49, 45, 45);
  }

  #menu-nav > ul a:hover::after {
    width: 100%;
    opacity: 1;
    transition: 0.5s;
  }

  /*Pie pagina*/

  #contenedor-pie {
    display: flex;
    justify-content: space-around;
  }

  #contenedor-pie p {
    width: 50%;
    max-width: 550px;
    margin: 20px;
    border-top: none;
  }

  #pie-pagina p {
    border-right: 1px solid rgb(77, 77, 77);
  }

  #pie-pagina p:last-child {
    border-right: none;
  }

  /* contenido libros */

  #contenido {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
  }

  #libro {
    width: 45%;
    margin: 20px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
  }

  .ficha-img img {
    margin: 0;
  }

  #caja-info-fichafibro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }

  #caja-img {
    padding-right: 50px;
    width: 50%;
  }

  #caja-fichatecnica {
    width: 50%;
  }

  #datos-libro {
    width: 50%;
    max-width: none;
  }

  /* imagen y valoracion - fichalibro*/

  #contenido-fichalibro {
    flex-direction: column;
  }

  #caja-foto-info {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
  }

  .ficha-img {
    width: 50%;
    max-width: 350px;
  }

  #caja-img {
    justify-content: flex-end;
    width: 60%;
    padding: 0;
    margin-right: 15px;
  }

  #datos-libro {
    margin-top: 0;
  }

  .caja-contenedor-valoracion {
    margin: 0;
  }

  #contenedor-valoracion {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: auto;
  }

  .caja-ficha-edadmedia {
    margin-top: 230px;
  }

  #caja-info-fichafibro {
    max-width: 800px;
  }

  /*** contenido perfil personal***/

  .container2 {
    display: flex;
    justify-content: center;
  }

  .btn-editar {
    max-width: 300px;
  }
}

/***********************  CORTE - TRAMO PANTALLA 2    **********************/

@media (min-width: 1000px) {
  /* ficha libro */
  #libro {
    width: 25%;
    margin: 10px;
  }

  #contenido-fichatecnica .ocultar {
    display: block;
  }

  #caja-info-fichalibro {
    max-width: none;
    max-width: 500px;
  }

  .ficha-img {
    max-width: 250px;
  }

  /*** contenido perfil personal ***/

  #caja-info-perfil {
    width: 65%;
    max-width: none;
  }

  #foto {
    justify-content: flex-start;
    width: auto;
    margin-right: 20px;
    align-items: stretch;
    padding: 0 50px;
  }

  .container2 {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }

  .foto {
    width: 100%;
  }

  #caja-info-fichafibro {
    max-width: 900px;
  }

  #datos-libro {
    width: 60%;
  }

  #caja-fichatecnica {
    width: 40%;
  }
}

/***********************  CORTE - TRAMO PANTALLA 3    **********************/

@font-face {
  font-family: "Six Caps";
  src: url("SixCaps-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 1300px) {
  #libro {
    width: 20%;
    margin: 10px;
  }

  #caja-img {
    justify-content: flex-start;
    width: auto;
    margin: 0;
    padding: 0;
  }

  #contenedor-todo {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    align-items: center;
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 50px;
  }

  #caja-info-fichafibro {
    padding: 0;
    width: 50%;
    flex-direction: column;
    justify-content: center;
  }

  #caja-fichatecnica {
    width: 60%;
    max-width: none;
  }

  #caja-foto-info {
    width: 50%;
  }

  #caja-foto-info {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }

  .ficha-img {
    width: 50%;
  }

  #caja-img {
    justify-content: flex-end;
    width: 70%;
    margin-right: 15px;
  }

  #datos-libro {
    width: 80%;
    margin: 0;
  }
  #contenedor-valoracion {
    border-bottom: none;
  }

  #contenido-fichatecnica {
    display: block;
  }

  .fa-angle-down,
  .fa-angle-up {
    display: none;
  }

  #btn-fichatecnica {
    cursor: auto;
  }
}
